<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forgot-password.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>Forgot Password</title>
</head>

<body>
    <%- include ('navbar') %>
        <header class="background-image">
            <header>

            </header>
            <div class="foot"></div>
            <div class="center">
                <div id="error_message">
                    <%= isCorrect %>
                </div>
                <h1>Forgot Password</h1>
                <p>
                <h3 id="head_three">
                    Enter your email address below to receive a password reset link.</h3>
                </p>
                <form id="form" action="/forgotPassword" method="post" onsubmit="return true">
                    <div class="txt-field">
                        <input type="email" name="Email" id="Email" required>
                        <span></span>
                        <label>E-Mail</label>
                    </div>
                    <input type="submit" value="Reset Password">
                    <div class="signup_link">

                    </div>
                </form>
            </div>
            <!-- Footer-->
            <footer>
                <div id="pageDetails">
                    <div id="address">
                        <p>
                            BSA College of Engineering and Technology, Mathura(U.P.), 281001
                        </p>
                        <p>
                            +91 639 773 5039, +91 750 523 2183 
                        </p>
                        <p>
                            <a href="http://www.bsacet.org/">www.bsacet.org</a>
                        </p>
                    </div>
                    <div id="socialmedia">
                        <p style="color: white; font-size: 1.5vw;">Our social plateforms</p>
                        <a href="/"><img src="/images/facebook.png" alt="facebook"></a>
                        <a href="/"><img src="/images/instagram.png" alt="instaram"></a>
                        <a href="/"><img src="/images/twitter.png" alt="twitter"></a>
                        <a href="/"><img src="/images/youtube.png" alt="youtube"></a>
                    </div>
                </div>
                <div id="copyright">
                    Copyright © 2023 Insider Inc. All rights reserved. Registration on or use of this site constitutes
                    acceptance of our Terms of Service, Privacy Policy and Cookies Policy.
                </div>
            </footer>
        </header>

        <script>
            var error_message = document.getElementById("error_message");
            let hamburger = document.querySelector(".hamburger")

            if("<%- isCorrect %>" === "Password reset email sent successfully."){
                error_message.innerHTML = "";
                document.getElementById("head_three").innerHTML = "<%- isCorrect %>";
                document.getElementById("form").innerHTML = "<a id='commonButton' href='/login'>Login</a>";
            }; 

            hamburger.addEventListener("click", () => {
                let navBar = document.querySelector(".nav-bar");
                navBar.classList.toggle("active")
                let line1 = document.querySelector(".line1");
                line1.classList.toggle("single-line")
                let line2 = document.querySelector(".line2");
                line2.classList.toggle("single-line")
            })
        </script>
</body>

</html>