@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

.header-nav {
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
        "Helvetica", "Arial", "sans-serif";
    z-index: 2;
    top: 0;
    position: sticky;
    height: 50px;
    background-color: #2dcbff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    font-weight: bold;
    font-size: 25px;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    font-weight: 600;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 8px;
    margin: 0 5px;
    transition: 0.3s;
}

.name {
    font-weight: 600;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 8px;
    margin: 0 5px;
    padding-right: 5px;
    transition: 0.3s;
}

.drop-content {
    display: flex;
    color: white;
    align-items: center;
}

.drop-content img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.drop-content:hover {
    color: #2dcbff;
    background-color: #ffffff;
}

#lg:hover {
    color: rgb(218, 218, 218);
    background-color: #2dcbff;
}

#drop-logout {
    display: none;
}

.nav-bar ul li a:hover {
    color: #2dcbff;
    background-color: #ffffff;
}

.nav-cta {
    color: white;
    font-weight: 600;
    padding: 13px 20px;
    border-radius: 5px;
    transition: 0.4s;
}

@media screen and (max-width: 480px) {
    body {
        font-size: 16px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        width: 90%;
        margin: auto;
    }

    a {
        text-decoration: none;
    }

    .flex {
        display: flex;
    }

    .header-nav {
        font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
            "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
        z-index: 2;
        top: 0;
        position: sticky;
        height: 44px;
        background-color: #2dcbff;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        border-radius: 50px;
        background-color: white;
        margin: 6px 0;
        transition: 0.3s;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 31px;
        left: 0;
        right: 0;
        width: 100vw;
        transition: 0.5s;
        overflow: hidden;
        background-color: #2dcbff;
    }

    .nav-bar.active {
        background-color: #2dcbff;
        height: 284px;
        backdrop-filter: blur(4.5px);
    }

    .logo {
        font-weight: bold;
        font-size: 25px;
    }

    .nav-bar ul {
        color: rgb(31, 31, 31);
        display: block;
        width: fit-content;
        background-color: #2dcbff;
        margin: 30px auto 0 auto;
        text-align: center;
        transition: 0.3s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }

    .nav-cta {
        display: none;
    }

    .single-line {
        display: none;
    }

    img {
        max-width: 100%;
    }

    .sidebar {
        display: none;
    }

    .column {
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    #navlogo span {
        font-size: 5vw !important;
    }

    #navlogo img {
        height: 5vw !important;
    }

    #navlogo p {
        font-size: 3.2vw !important;
    }

    body {
        font-size: 14px;
    }

    .bigCards {
        text-align: center;
    }

    .bigCards h1 {
        font-size: 9vw !important;
    }

    .cardDesign {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        margin: 3vw !important;
    }

    .cardContent {
        margin: 10px;
    }

    .cardContent p {
        font-size: 3.8vw !important;
        margin: 1vw auto !important;
        width: 100%;
    }

    .commonheadingsize {
        font-size: 7vw !important;
    }

    .commonsubheadingsize {
        font-size: 3.5vw !important;
    }

    #updateboxouter form {
        height: 8vh;
        width: 81.5vw;
    }

    #updateboxouter form input {
        font-size: 4vw !important;
    }

    #updateboxouter form button {
        font-size: 3.8vw !important;
    }

    .rounded {
        margin: -0.5px;
    }

    #cimg2 {
        height: 50vw !important;
        width: 96vw !important;
    }

    .boxes {
        flex-direction: column !important;
    }

    .boxDesign {
        margin: 1vw auto !important;
        width: 70vw !important;
        border-radius: 5vw !important;
    }

    .boxDesign h2 {
        font-size: 6vw !important;
    }

    .boxDesign li {
        text-align: center !important;
        font-size: 4vw !important;
        margin: 2vw !important;
    }

    .news {
        text-align: center;
    }

    #updateboxouter {
        padding: 10px;
    }

    #copyright {
        font-size: 2.5vw !important;
        text-align: center !important;
        padding: 0.3vw !important;
    }

    #address {
        width: 50vw !important;
        font-size: 2.8vw !important;
        color: white !important;
    }

    #socialmedia {
        width: 40vw !important;
        display: flex !important;
        align-items: center !important;
        border-left: 1px solid white !important;
        padding: 2vw !important;
    }

    #socialmedia p {
        font-size: 3vw !important;
    }

    #socialmedia img {
        filter: invert(1) !important;
        width: 7.5vw !important;
    }

}

* {
    margin: 0;
    padding: 0;
}

hr.rounded {
    border-top: 3px solid gray;
    width: 100%;
}

.commonheadingsize {
    font-size: 2.5vw;
    font-weight: bold;
}

.commonsubheadingsize {
    font-size: 1.4vw;
    font-weight: 500;
    margin-top: 2vw;
    margin-bottom: -1vw;
}

.commonBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

a {
    text-decoration: none;
    color: white;
}

li {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
}

/* Navbar CSS started*/

.navbar {
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    display: flex;
    position: sticky;
    top: 0;
    background-color: #2dcbff;
    justify-content: space-between;
    align-items: center;
    height: 4vw;
    z-index: 2;
}

#navlogo {
    height: 1.5vw;
    display: flex;
    margin-left: 0vw;
    padding: 1vw;
    justify-content: center;
    align-items: center;
}

#navlogo img {
    height: 2vw;
    filter: grayscale(1)invert(1)brightness(2);
    margin-left: 0.45vw;
    margin-right: 0.9vw;
}

#navlogo span {
    font-weight: bold;
    font-size: 2vw;
    font-family: 'Roboto Condensed', sans-serif;
}

#navlogo p {
    border-left: 0.7px solid rgba(255, 255, 255, 0.849);
    padding: 0.6vw 0vw;
    padding-left: 1.2vw;
    font-size: 1.2vw;
    font-weight: lighter;
}

#navlinks {
    margin-right: 0.5vw;
}

#navlinks ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navlinks li a {
    margin: 0px 0.3vw;
    padding: 0.3vw 0.5vw;
    font-size: 1.4vw;
}

#navlinks li a:hover {
    background-color: white;
    color: #2dcbff;
    box-shadow: 0px 0px 5px rgb(51, 136, 247);
    border-radius: 0.3vw;
}

/* Navabar CSS ended */

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

#box1 ul {
    list-style-type: disc;
}

.boxDesign {
    background-color: #d9f2f3;
    width: 20vw;
    border-radius: 0.5vw;
    padding: 2vw;
    margin: 0vw 1vw;
}

.boxDesign h2 {
    margin: 1vw;
    font-size: 2.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxDesign ul {
    display: flex;
    flex-direction: column;
}

.boxDesign li {
    display: block;
    text-align: left;
    list-style: circle;
    margin: 1vw 0vw;
    font-size: 1.4vw;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(90, 90, 90);
}

.bigCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardDesign {
    display: flex;
    flex-direction: row;
    margin: 5vw;
}

#cimg2 {
    background-image: url('../images/card2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 18vw;
    width: 30vw;
    border-radius: 1vw;
    box-shadow: 0vw 0.2vw 1vw rgba(0, 0, 0, 0.514);
}

.bigCards h1 {
    font-size: 4vw;
    font-weight: bold;
    margin: 1vw;
}

.cardContent p {
    font-size: 1.3vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: rgb(97, 97, 97);
    margin: 3vw 0 0 3vw;
}

.cardContent a {
    background-color: #4fd3ff;
    padding: 0.9vw;
    box-shadow: 0vw 0.2vw 1vw rgba(0, 0, 0, 0.514);
    position: relative;
    top: 3vw;
    left: 1vw;
    font-size: 1.3vw;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

.news p {
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.newsBox a {
    padding: 0.6vw;
    font-size: 1.2vw;
}

#updateboxouter {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#updateboxouter form {
    display: flex;
    background-color: #c2f0ff;
    padding: 2vw;
    margin: 1vw 0vw;
    border-radius: 2vw;
}

#updateboxouter form input {
    border: 0px;
    padding: 5px;
    font-size: 1.4vw;
}

#updateboxouter form button {
    border: 0px;
    padding: 5px;
    background-color: #2dcbff;
    color: white;
    font-size: 1.4vw;
}

/* footer started */

footer {
    display: flex;
    flex-direction: column;
    background-color: #2dcbff;
    width: 100%;
}

#pageDetails {
    display: flex;
    justify-content: space-between;
    padding: 2vw;
}

#address {
    width: 25vw;
    font-size: 1.2vw;
    color: white;
}

#socialmedia {
    width: 23vw;
    display: flex;
    align-items: center;
    border-left: 1px solid white;
    padding: 2vw;
}

#socialmedia img {
    filter: invert(1);
    width: 3.5vw;
}

#copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-size: 1vw;
    color: white;
    padding: 0.6vw;
}

/* footer ended */