@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

.header-nav {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", "sans-serif";
  z-index: 2;
  top: 0;
  position: sticky;
  height: 50px;
  background-color: #2dcbff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  font-weight: bold;
  font-size: 25px;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  font-weight: 600;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 8px;
  margin: 0 5px;
  transition: 0.3s;
}

.nav-bar ul li a:hover {
  color: #2dcbff;
  background-color: #ffffff;
}

.nav-cta {
  color: white;
  font-weight: 600;
  padding: 13px 20px;
  border-radius: 5px;
  transition: 0.4s;
}

.background-image {
  background-image: linear-gradient(to bottom, #000000f7, rgb(0 104 116 / 41%)), url('../images/indexmain.jpg');
  background-position: center;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 16px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    width: 90%;
    margin: auto;
  }

  a {
    text-decoration: none;
  }

  .flex {
    display: flex;
  }

  .header-nav {
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
      "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    z-index: 2;
    top: 0;
    position: sticky;
    height: 44px;
    background-color: #2dcbff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .background-image {
    background-image: linear-gradient(to bottom, #000000f7, rgb(0 104 116 / 41%)), url('../images/indexmain.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 88.2%;
    z-index: -1;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    border-radius: 50px;
    background-color: white;
    margin: 6px 0;
    transition: 0.3s;
  }

  .nav-bar {
    height: 0;
    position: absolute;
    top: 31px;
    left: 0;
    right: 0;
    width: 100vw;
    transition: 0.5s;
    overflow: hidden;
    background-color: #2dcbff;
  }

  .nav-bar.active {
    background-color: #2dcbff;
    height: 284px;
    backdrop-filter: blur(4.5px);
  }

  .logo {
    font-weight: bold;
    font-size: 25px;
  }

  .nav-bar ul {
    color: rgb(31, 31, 31);
    display: block;
    width: fit-content;
    background-color: #2dcbff;
    margin: 30px auto 0 auto;
    text-align: center;
    transition: 0.3s;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
  }

  .nav-cta {
    display: none;
  }

  .single-line {
    display: none;
  }

  img {
    max-width: 100%;
  }

  .sidebar {
    display: none;
  }

  .column {
    width: 100%;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  #navlogo span {
    font-size: 5vw !important;
  }

  #navlogo img {
    height: 5vw !important;
  }

  #navlogo p {
    font-size: 3.2vw !important;
  }

  #address {
    width: 50vw !important;
    font-size: 2.8vw !important;
    color: white !important;
  }

  #socialmedia {
    width: 40vw !important;
    display: flex !important;
    align-items: center !important;
    border-left: 1px solid white !important;
    padding: 2vw !important;
  }

  #socialmedia p {
    font-size: 3vw !important;
  }

  #socialmedia img {
    filter: invert(1) !important;
    width: 7.5vw !important;
  }

  #copyright {
    font-size: 2.5vw !important;
    text-align: center !important;
    padding: 0.3vw !important;
  }

  .center {
    top: 53% !important;
    width: 85vw !important;
  }

  .foot {
    height: 0vh !important;
  }

  #commonButton{
    background-color: #4fd3ff;
    border-radius: 10vw;
    font-size: 5.6vw;
    padding: 1vw;
    margin: 2vw 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

}

* {
  margin: 0;
  padding: 0;
}

.foot {
  width: 100%;
  height: 678px;
}

.center {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
}

.center h1 {
  text-align: center;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt-field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt-field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt-field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.txt-field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

.txt-field input:focus~label,
.txt-field input:valid~label {
  top: -5px;
  color: #2691d9;
}

.txt-field input:focus~span::before,
.txt-field input:valid~span::before {
  width: 100%;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  border-color: #2691d9;
  transition: .5s;
}

.signup_link {
  margin: 30px 0;
}

a {
  text-decoration: none;
  color: white;
}

li {
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: center;
}

/* Navbar CSS started*/

.navbar {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  display: flex;
  position: sticky;
  top: 0;
  background-color: #2dcbff;
  justify-content: space-between;
  align-items: center;
  height: 4vw;
  z-index: 2;
}

#navlogo {
  height: 1.5vw;
  display: flex;
  margin-left: 0vw;
  padding: 1vw;
  justify-content: center;
  align-items: center;
}

#navlogo img {
  height: 2vw;
  filter: grayscale(1)invert(1)brightness(2);
  margin-left: 0.45vw;
  margin-right: 0.9vw;
}

#navlogo span {
  font-weight: bold;
  font-size: 2vw;
  font-family: 'Roboto Condensed', sans-serif;
}

#navlogo p {
  border-left: 0.7px solid rgba(255, 255, 255, 0.849);
  padding: 0.6vw 0vw;
  padding-left: 1.2vw;
  font-size: 1.2vw;
  font-weight: lighter;
}

#navlinks {
  margin-right: 0.5vw;
}

#navlinks ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navlinks li a {
  margin: 0px 0.3vw;
  padding: 0.3vw 0.5vw;
  font-size: 1.4vw;
}

#navlinks li a:hover {
  background-color: white;
  color: #2dcbff;
  box-shadow: 0px 0px 5px rgb(51, 136, 247);
  border-radius: 0.3vw;
}

/* Navabar CSS ended */

header {
  height: 100%;
}

header::before {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  content: "";
  z-index: -1;
  height: 49vw;
  width: 100%;
  filter: blur(2px);
}

.foot {
  width: 100%;
  height: 678px;
}

/* footer started */

footer {
  display: flex;
  flex-direction: column;
  background-color: #2dcbff;
  width: 100%;
}

#pageDetails {
  display: flex;
  justify-content: space-between;
  padding: 2vw;
}

#address {
  width: 25vw;
  font-size: 1.2vw;
  color: white;
}

#socialmedia {
  width: 23vw;
  display: flex;
  align-items: center;
  border-left: 1px solid white;
  padding: 2vw;
}

#socialmedia img {
  filter: invert(1);
  width: 3.5vw;
}

#copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  font-size: 1vw;
  color: white;
  padding: 0.6vw;
}

/* footer ended */

#error_message {
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 17px;
  transition: all 0.5s ease;
}